@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  display: block;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header__content {
  display: flex;
  height: 90px;
  align-items: center;
}

.header__logo {
  padding: 0px 359px 0px 152px;
}

.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 0px 0px 0px 32px;
  color: #837f7a;
  transition: 0.5s;
}

.header__text:hover {
  color: #000000;
}

.header__btn {
  background: #1B1A1A;
  color: #ffffff;
  border-radius: 14px;
  padding: 11px 20px;
  margin-left: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  transition: 0.5s;
}

.header__btn:hover {
  color: rgba(255, 255, 255, 0.6352941176);
  background-color: #1B1A1A;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0px auto;
  flex: 1 1 auto;
}

.content__row {
  display: flex;
  height: 720px;
}

.row__content {
  background: #ECE7E4;
}

.row__mini {
  padding: 137px 0px 0px 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.row__title {
  padding: 20px 0px 0px 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 70px;
  color: #1B1A1A;
}

.row__text {
  padding: 18px 111px 0px 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #403E3B;
}

.row__read {
  padding: 41px 0px 0px 125px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1B1A1A;
}

.ourfirm {
  height: 680px;
}

.ourfirm__about {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px 0px 336px;
  width: 768px;
  height: 582px;
}

.ourfirm__title {
  padding: 0px 230px 0px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  white-space: nowrap;
  color: #403E3B;
}

.ourfirm__text {
  padding: 10px 0px 0px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #403E3B;
}

.ourfirm__text:first-child {
  padding: 0px 0px 0px 0px;
}

.stepan {
  display: flex;
}

.stepan__image {
  padding: 18px 0px 0px 0px;
}

.stepan__title {
  padding: 40px 0px 0px 30px;
}

.stepan__text {
  padding: 0px 0px 0px 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #645C55;
}

.hotel__image {
  background: url("../img/hotel.png");
  width: 1440px;
  height: 600px;
}

.hotel__text {
  padding: 266px 0px 0px 1080px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403E3B;
}

.hotel__text2 {
  margin: 0px 0px 0px 1080px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #645C55;
  width: 300px;
  height: 48px;
}

.our_process {
  height: 581px;
}

.process__text_mini {
  padding: 100px 0px 0px 659px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
}

.process__title {
  padding: 13px 0px 0px 520px;
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  color: #1B1A1A;
}

.process_container {
  display: flex;
  justify-content: center;
}

.sketching {
  text-align: center;
  width: 320px;
  height: 250px;
  margin-right: 102px;
  margin-top: 47px;
}

.sketching__title {
  margin: 15px 0px 0px 115px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #585551;
  width: 89px;
  height: 26px;
  transition: 0.3s;
}

.sketching__title:hover {
  color: #000000;
}

.sketching__text {
  padding: 10px 0px 0px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #645C55;
}

.finalizing {
  text-align: center;
  width: 320px;
  height: 250px;
  margin-right: 102px;
  margin-top: 47px;
}

.finalizing__title {
  margin: 15px 0px 0px 115px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #585551;
  width: 89px;
  height: 26px;
  transition: 0.3s;
}

.finalizing__title:hover {
  color: #000000;
}

.finalizing__text {
  padding: 10px 0px 0px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #645C55;
}

.building {
  text-align: center;
  width: 320px;
  height: 250px;
  margin-top: 47px;
}

.building__title {
  margin: 15px 0px 0px 127px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #585551;
  width: 69px;
  height: 26px;
  transition: 0.3s;
}

.building__title:hover {
  color: #000000;
}

.building__text {
  padding: 10px 0px 0px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #645C55;
}

.staircase__image {
  background: url("../img/staircase.png");
  width: 1440px;
  height: 600px;
}

.staircase__text {
  padding: 266px 0px 0px 1080px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403E3B;
}

.staircase__text2 {
  margin: 0px 0px 0px 1080px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #645C55;
  width: 300px;
  height: 48px;
}

.clients {
  width: 1440px;
  height: 410px;
  background-color: #403E3B;
}

.clients__container {
  display: flex;
}

.clients__row {
  margin: 125px 0px 0px 136px;
  width: 460px;
  height: 160px;
}

.clients__text_mini {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ECE7E4;
}

.clients__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.clients__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 14px 0px 0px 0px;
  color: #ECE7E4;
}

.logos__components_1 {
  padding: 124px 96px 0px 181px;
}

.logos__components_3 {
  padding: 100px 0px 0px 0px;
}

.logos__components_2 {
  padding: 128px 0px 0px 181px;
}

.logos__components_4 {
  padding: 96px 0px 0px 0px;
}

.swirling_staircase__image {
  background: url("../img/swirling_staircase.png");
  width: 1440px;
  height: 600px;
}

.swirling_staircase__text {
  padding: 266px 0px 0px 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #403E3B;
}

.swirling_staircase__text2 {
  margin: 0px 0px 0px 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #645C55;
  width: 285px;
  height: 48px;
}

.projects {
  width: 1440px;
  height: 918px;
}

.projects__container {
  margin: 120px 120px 100px 120px;
  width: 1200px;
  height: 698px;
}

.project__title {
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  color: #1B1A1A;
}

.project__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #645C55;
  width: 550px;
  height: 60px;
  padding: 15px 0px 0px 0px;
}

.project__image {
  display: flex;
  margin: 42px 0px 0px 0px;
}

.projects__image_high {
  background: url("../img/high.png");
  width: 375px;
  height: 456px;
  margin: 0px 20px 0px 0px;
}

.projects__image_crane {
  background: url("../img/crane.png");
  width: 375px;
  height: 456px;
  margin: 0px 20px 0px 0px;
}

.project__image_mini {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
  padding: 40px 0px 0px 40px;
}

.project__image_title {
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: #403E3B;
  padding: 0px 0px 0px 40px;
}

.project__image_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin: 260px 0px 0px 65px;
  width: 130px;
  height: 46px;
  padding: 11px 20px 11px 25px;
  background: #1B1A1A;
  border-radius: 14px;
  transition: 0.5s;
}

.project__image_btn:hover {
  background-color: #000000;
}

.projects__image_balcony {
  background: url("../img/balcony.png");
  width: 375px;
  height: 456px;
}

.project__footer {
  padding: 53px 0px 0px 533px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1B1A1A;
}

.ourteam {
  width: 1440px;
  height: 500px;
}

.ourteam__content {
  display: flex;
  margin: 0px 0px 0px 136px;
  width: 1168px;
  height: 492px;
}

.ourteam__row {
  width: 379px;
  height: 392px;
}

.ourteam__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #403E3B;
}

.ourteam__text {
  margin: 14px 0px 0px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #645C55;
}

.ourteam__mini {
  margin: 41px 0px 0px 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1B1A1A;
  width: 81px;
  height: 24px;
}

.ourteam__container {
  width: 774px;
  height: 392px;
  margin: 0px 0px 0px 20px;
}

.ourteam__about_1 {
  display: flex;
}

.ourteam__stepan {
  width: 280px;
  height: 100px;
  display: flex;
  margin: 0px 115px 36px 0px;
}

.ourteam__stepan_title {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #1B1A1A;
  margin: 20px 0px 0px 30px;
}

.ourteam__stepan_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #645C55;
  margin: 0px 0px 0px 30px;
}

.ourteam__nalan {
  width: 280px;
  height: 100px;
  display: flex;
}

.ourteam__nalan_title {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #1B1A1A;
  margin: 20px 0px 0px 30px;
}

.ourteam__nalan_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #645C55;
  margin: 0px 0px 0px 30px;
}

.ourteam__about_2 {
  display: flex;
}

.ourteam__ferris {
  width: 280px;
  height: 100px;
  display: flex;
  margin: 0px 115px 36px 0px;
}

.ourteam__ferris_title {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #1B1A1A;
  margin: 20px 0px 0px 30px;
}

.ourteam__ferris_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #645C55;
  margin: 0px 0px 0px 30px;
}

.ourteam__aria {
  width: 280px;
  height: 100px;
  display: flex;
}

.ourteam__aria_title {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #1B1A1A;
  margin: 20px 0px 0px 30px;
}

.ourteam__aria_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #645C55;
  margin: 0px 0px 0px 30px;
}

.ourteam__niko {
  width: 280px;
  height: 100px;
  display: flex;
}

.ourteam__niko_title {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #1B1A1A;
  margin: 20px 0px 0px 30px;
}

.ourteam__niko_text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #645C55;
  margin: 0px 0px 0px 30px;
}

.Think {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 314px;
  background: #CEC4BC;
}

.Think__content {
  width: 576px;
  height: 114px;
  margin: 0px 0px 0px 136px;
}

.Think__mini {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
}

.Think__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  color: #1B1A1A;
  width: 529px;
  height: 84px;
}

.Think__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #1B1A1A;
  margin: 0px 0px 0px 474px;
}

.footer__wrapper {
  display: flex;
  width: 1440px;
  height: 204px;
}

.footer__content {
  margin: 60px 0px 0px 136px;
  width: 695px;
  height: 84px;
}

.footer__title {
  padding: 20px 0px 0px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #645C55;
}

.footer__mini {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #645C55;
}

.footer__container {
  margin: 122px 0px 0px 362px;
}

.footer__image {
  padding: 0px 20px 0px 0px;
  display: inline;
}

.footer__image:last-child {
  padding: 0px;
}